@charset "utf-8";
/* header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.head{
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 999;
}

/* head_nav */
.head .head_nav{
    width: 1200px;
    height: 60px;
    /* background: pink; */
    margin: 0 auto;
}

/* head_nav下的所有li */
.head_nav > li {
    height: 60px;
    line-height: 60px;
    display: inline-block;
}

/* logo */
.logo{
    width: 20%;
    height: 60px;
    float: left;
}
.head_nav > li.logo > a {
    display: inline-block;
    padding: 30px 0;
    width: 100%;
    background: url(https://oss.static.nubia.cn/active/5dae6dd070bfa59.png) no-repeat center;
    background-size: 65%;
    color: #333;
    font-weight: 500;
    font-size: 14px;
}

/* list_cont */
.head_nav > li.list_cont {
    width: 60%;
    text-align: center;
    float: left;
}
li.list_cont>ul {
    height: 60px;
    margin-top: 0;
}

/* 导航浮动 */
li.list_cont >ul> li {
    float: left;
}

/* 导航字体 */
.head_nav > li > a, li.list_cont >ul> li > a {
    padding: 23px 25px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    font-weight: bolder;
}
.head_nav .list_cont .nav_ul_cont li:hover a{
    color: #999;
}

/* 下拉导航 */
.header_cont {
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    /* background: green; */
    /* transition: 0.25s; */
    overflow: hidden;
    background: #fff;
}

.header_cont>div{
    width: 1200px;
    margin: 0 auto;
    /* background: hotpink; */
    height: 200px;
    position: relative;
}

/* header_cont */
.header_cont .cont_list {
    width: 20%;
    float: left;
    height: 200px;
    padding-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.header_cont .cont_list>ul>li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #333;
}

.header_cont .cont_list li .cont_con {
    width: 70%;
    float: left;
    justify-content: left;
    align-items: center;
    height: 200px;
    /* display: none; */
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 99999;
    /* background: indigo; */
}

.header_cont .cont_con>ul li {
    width: 168px;
    float: left;
}

.header_cont .cont_con>ul li img {
    display: block;
    width: 100px;
    margin: 30px auto 0;
}

.header_cont .cont_con>ul li p {
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
    margin-top: 10px;
}

.header_cont .cont_con>ul li p.new_tag {
    color: #de634f;
    margin-top: 0;
}

.header_cont{
    display: none;
}

.header_cont .cont_con>div>a {
    display: block;
    width: 100px;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    color: #333 !important;
    border: 1px solid #333;
    text-align: center;
    position: absolute;
    top: 72px;
    left: 720px;
    /* transition: 0.25s; */
}

#header .head_nav .list_cont .nav_ul_cont li .header_cont .cont_list .active .cont_con{
    display: none;
}


/* 导航右边，用户登录和购物车 */
li.head_nav_right {
    z-index: 999;
    width: 20%;
    float: left;
}

.head_nav_right ul > li {
    float: left;
    position: relative;
    height: 100%;
}

.head_nav_right ul {
    height: 100%;
}
/* user */
.head_nav_right ul > li.user {
    padding-left: 60px;
    width: 100px;
    height: 60px;
}
.head_nav_right >ul > li > a {
    display: inline-block;
    padding: 20px 10px;
    height: 100%;
    line-height: 20px;
    /* height: 60px;
    width: 40px; */
}

.head_nav_right >ul > li > a >i {
    font-weight: 900;
    
    color: #333;
    font-size: 20px;
}
/* .icon-yonghu{
    z-index: 6666;
    display: inline-block;
    width: 25px;
    height: 25px;
} */

/* head_user_cont 用户登录，个人中心 */
.head_user_cont {
    position: absolute;
    display: none;
    top: 60px;
    right: -76px;
    background: #fff;
    width: 360px;
    height: auto;
    padding: 20px;
    transition: .25s;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
}

.head_user_cont>ul>li {
    width: 100%;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.head_user_cont>ul>li>a {
    height: 50px;
    line-height: 50px;
    color: #999;
    display: block;
    font-size: 14px;
}
.login{
    float: left;
}
.head_user_cont>ul>li:first-child>a {
    font-weight: 500;
    color: #de634f;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-bottom: 5px;
}

span.no_account {
    color: #999;
    float: right;
    display: block;
    height: 50px;
    line-height: 50px;
}

/* 购物车 car cart */

ul.car_nothing > li {
    text-align: center;
    line-height: 30px;
    padding-bottom: 10px;
    font-size: 14px;
}

ul.car_nothing > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    padding: 0;
}

a.red_btn {
    background: #de634f;
}


/* search_input  搜索框 */

.search_input {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 60px;
    width: 700px;
    /* background: pink; */
    padding: 0 50px;
    z-index: -9999;
    opacity: 0;
    /* overflow: hidden; */
    margin-left: -350px;
}

.search_input > i.icon-magnify-glass {
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: 24px;
    font-weight: 900;
    color: #999;
    cursor: pointer;
}

.search_input>input {
    -moz-appearance: none;
    -webkit-appearance: none;
    /* appearance: none; */
    box-shadow: none;
    display: inline-block;
    border: 0;
    vertical-align: top;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #101920;
    font-size: 14px;
    background-color: #fff;
    outline: 0;
    height: 60px;
    border-radius: 30px;
}

.search_input > i.icon-tim1es {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #999;
    cursor: pointer;
}

/* 显示搜索后的详情 search_recommended */
.search_input>.search_recommended {
    background: pink;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    height: 0px;
    /* z-index: 999; */
    /* transition: 0.25s; */
}
.search_input>.search_recommended>ul {
    background: #fff;
    padding: 10px 0;
    margin-bottom: 0;
}

.box_s{
    box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
}

.box_s li{
    width: 100%;
    height: 40px;
    padding-left: 60px;
    border-bottom: 1px solid #999;
    line-height: 40px;
}

.box_s li a{
    color: #666;
    font-weight: bolder;
}
.box_s li a:hover{
    color: #000;
}


/* all */
.all {
    overflow: hidden;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    /* margin-top: 60px; */
}

/* cg */
.cg {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    color: #333333;
    margin-bottom: 10px;
}

.swiper-slide a img{
    width: 100%;
    height: 100%;
}
.cg div a img{
    width: 100%;
    height: 100%;
}

.b_content {
    position: absolute;
    top: 0;
    left: 17%;
    text-align: center;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.white {
    color: #fff;
}
.b_content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}
.b_content p .price_num {
    font-weight: 500;
}
.b_content p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.b_content p:nth-child(2) {
    font-size: 24px;
    margin-bottom: 8px;
}
.b_content a.white {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .25s;
}
.b_content a.buy {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    margin-top: 34px;
    margin-bottom: 10px;
    text-align: center;
}

/* content_list */
.content_list{
    overflow: hidden;
    margin-top: 15px;
}
.col-md-6{
    float: left;
}
.content_list > div {
    padding-right: 5px;
    padding-bottom: 5px;
}

.content_list > div > div {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 5%;
}

.content_list > div.col-md-6 > a {
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    /* transition: 0.25s; */
    background: url("https://oss.static.nubia.cn/active/5e9fad536efc022.jpg") center center / cover no-repeat;
    background-size: 100%;
}

.content_list > div > div h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}

.content_list > div > div p {
    font-size: 16px;
    font-weight: 400;
}
.col-md-6 a img{
    width: 100%;
    height: 100%;
}

/* recommend */
.all .recommend {
    background: #f0f0f0;
    width: 100%;
    /* height: 425px; */
    /* margin: 0 auto; */
    padding: 40px;
    padding-left: calc((7% - 25px));
    padding-right: calc((7% - 25px));
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto; */
    /* margin-left: auto; */
}
.recommend>div {
    padding: 0 25px;
}

.recommend>div>div:first-child>a>img {
    width: 100%;
    height: 100%;
}
.recommend>div>div:last-child {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 50px;
}
.recommend>div>div:last-child>p:first-child {
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}
.recommend>div>div:last-child>p:nth-child(2) {
    font-size: 18px;
    color: #333;
    height: 60px;
    width: 100%;
    overflow: hidden;
}
.recommend>div>div:last-child>a {
    font-size: 14px;
    color: #5097df;
}


/* footer */
.footer {
    clear: both;
    background: #fff;
    padding-bottom: 50px;
}
.footer .container {
    max-width: 1200px;
}
.container {
    width: 100%;
    padding: 0;
}

.phone-server {
    border-bottom: 1px solid #eee;
}

.phone-server {
    padding: 50px 7%;
    padding-bottom: 10px;
}

.phone-server>div {
    overflow: hidden;
}
.phone-server div.col-md-3 {
    margin-bottom: 30px;
}

.phone-server div.col-md-3 >a {
    text-align: center;
    color: #333;
}

.phone-server div.col-md-3 >a>i {
    display: block;
    /* width: 50px;
    height: 50px; */
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
    transition: 0.25s;
    padding-top: 10px;
}

.phone-server div.col-md-3>a>span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s;
}
.icon-circle_7-c:before {
    content: "\e959";
}

.all_list {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

.all_list>div {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 50px 0;
}
.all_list div.col-xs-12 {
    padding-left: 0;
}
.col-md-2 {
    width: 16.666666666666664%;
}

.all_list div.col-xs-12 >p {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

.all_list div.col-xs-12 > ul > li {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    margin-bottom: 10px;
    height: 21px;
    overflow: hidden;
}

.all_list div.col-xs-12 > ul > li > a {
    color: #999;
}
.col-md-2 ul li:hover a{
    color: #000;
    text-decoration: none;
}

.call_me {
    text-align: right;
}
.call_me > div {
    margin-bottom: 20px;
    color: #a5a5a5;
    font-weight: 400;
}
.call_me a.online {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
    background: #666;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}

.icon-bubble:before {
    content: "\e96d";
}
.call_me a.online>i {
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    margin-right: 4px;
    transition: 0.25s;
    vertical-align: middle;
}

.call_me > div > p {
    margin-bottom: 0;
    color: #999;
    line-height: 24px;
    font-size: 14px;
}

.call_me > div > p >b {
    font-size: 20px;
    color: #333;
}
.col-md-4 {
    width: 33.33333333333333%;
}
/* master */
.master-footer {
    margin: 0 auto;
    padding: 0;
}

.master-footer {
    border-top: none;
    background-color: #fff;
}
.master-footer {
    text-align: center;
    color: #555;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.master-footer .nubia-foot-nav {
    padding: 50px 0 0 0;
}

.master-footer .nubia-foot-nav>div>a {
    color: #999;
    font-weight: 400;
    padding: 0;
}